html{
	padding-block-start: 3rem;
	padding-inline-start: 5rem;
}

:root {
	/* Declare them: */
	--paragraph-margin: 7rem;;
	--blockquote-color: blue;
	--
}

header{
	block-size: 100vh;
	inline-size: 100vw
}

hgroup {
max-inline-size: 83%;
margin-inline: auto;
margin-block-end: 3rem;
padding-inline-end: 9rem;
padding-inline-start: 9rem;
}

hgroup h1:nth-child(1) {
  text-align: left;
}

hgroup h1:nth-child(2) {
  text-align: center;
}

hgroup h1:nth-child(3) {
  text-align: right;
}

body {
	font-family: 'Stack Sans Text', sans-serif;
}
p {
	font-family: 'Stack Sans Text', sans-serif;
	font-size: 1rem;
	line-height: 1.7rem;
}

nav {
	text-decoration: underline;
	font-size: 1.3rem;
	color:blue;
	line-height: 3rem;
}
h1,h2,h3 {
	font-family: 'Stack Sans Text', sans-serif;
}
h1 {
	font-size: 10rem;
	line-height: 10rem;
}

h2 {
	font-size: 5.5rem;
	color:red
}
h3 {
	font-size: 4rem;
}

strong {
	font-weight: bold;
	font-size: 1.7rem;
}
blockquote p {
	font-family:'Sedgwick Ave';
	font-size: 1.5rem;
	line-height: 2.5rem;
	color: blue
}

em {
	font-weight: bold;
	font-family: DM Serif Text;
	font-style: oblique;
	font-size: 1.2rem;
}

.design{
font-family:'Sedgwick Ave', serif;
font-size: 10rem;
}

.h3italic{
font-family:'Sedgwick Ave', serif;
font-size: 4.1rem;
}

a:link{
	text-decoration: underline;
	color:blue;
}
