html{
	padding-block-start: 3rem;
	padding-inline-start: 5rem;
}

:root {
	/* Declare them: */
	--paragraph-margin: 7rem;;
	--blockquote-color: blue;
	--doc-margin:5rem;
	--second-margin: 25rem;
	--third-margin: 50rem;
}



header{
	block-size: 100vh;
	inline-size: 100vw
}

hgroup {
max-inline-size: 83%;
margin-inline: auto;
margin-block-end: 3rem;
padding-inline-end: 9rem;
padding-inline-start: 9rem;
}

hgroup h1:nth-child(1) {
  text-align: left;
}

hgroup h1:nth-child(2) {
  text-align: center;
}

hgroup h1:nth-child(3) {
  text-align: right;
}

section:nth-of-type(odd) {
    margin-inline-start: var(--doc-margin);
}

section:nth-of-type(even) {
    margin-inline-start: var(--second-margin);
}

section {
	max-width: 80ch;
}

body {
	font-family: 'Stack Sans Text', sans-serif;
}
p {
	font-size: 1rem;
	line-height: 1.7rem;
}

nav {
	text-decoration: underline;
	font-size: 1.3rem;
	color:blue;
	line-height: 3rem;
}

h1 {
	font-size: 10rem;
	line-height: 10rem;
}

h2 {
	font-size: 5.5rem;
	color:red
}
h3 {
	font-size: 3rem;
}

strong {
	font-weight: bold;
	font-size: 1.7rem;
}
blockquote p {
	font-family:'Sedgwick Ave';
	font-size: 1.5rem;
	line-height: 3rem;
	color: blue;
	margin-left: 4rem;
}
blockquote.beauty p:nth-of-type(2) {
    padding-left: 12rem;
}
blockquote.beauty p:nth-of-type(4) {
    padding-left: 12rem;
}
blockquote.beauty p:nth-of-type(6) {
    padding-left: 12rem;
}
blockquote.beauty p:nth-of-type(6) {
    padding-left: 12rem;
}

blockquote.questions p {
  display: inline-block;
}


em {
	font-weight: bold;
	font-family: DM Serif Text;
	font-style: oblique;
	font-size: 1.2rem;
}

.design{
font-family:'Sedgwick Ave', serif;
font-size: 10rem;
color: blue;
}

.design-for-s{
font-family:'Sedgwick Ave', serif;
font-size: 10rem;
margin-left: -0.14em;
}
.judgement{
	color:red;
}
.h3italic{
font-family:'Sedgwick Ave', serif;
font-size: 4.1rem;
}

a:link{
	text-decoration: underline;
	color:blue;
}



