:root {
  --blue: blue;
  --red: red;
  --link-color: color-mix(in srgb, var(--red), var(--blue));
  --font-body: 'Stack Sans Text', sans-serif;
  --font-quote: 'Sedgwick Ave', serif;
  --width: 60rem;
  --large-width: calc(1.5 * var(--width));
}

html {
  padding-block-start: 3rem;
  padding-inline-start:3rem;
  padding-inline-start:5rem;
  background-color: #F5F5F5;
}

body {
  font-family: var(--font-body);
}

header {
  margin-block-end: 2rem;
}

hgroup {
  margin: 15vh 15vw;
}

hgroup h1:nth-child(2) {
  text-align: right;
  font-weight: bold;
}

h1 {
  font-size: 10rem;
  line-height: 1;
}

h2 {
  font-size: 5.5rem;
  color: var(--red);
  max-width: 60rem;
  padding-block: 1rem;
}

h3 {
  font-size: 4rem;
  font-weight: bold;
  padding-block-end: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.7rem;
  max-width: var(--width);
  padding-block: 0.5rem;
}

nav {
  font-size: 1.3rem;
  line-height: 3rem;
}

a:link,
a:visited {
  text-decoration: underline;
  color: var(--link-color);
}

strong {
  font-size: 1.7rem;
}

em {
  color: var(--red);
  font-family: var(--font-body);
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
}

.design,
.design-for-s {
  font-family: var(--font-quote);
}

.design {
  color: var(--blue);
}

.design-for-s {
  margin-left: -0.14em;
}

.judgement,
.redquote p {
  color: var(--red);
}

blockquote {
  max-width: var(--large-width);
}

blockquote p {
  font-family: var(--font-quote);
  font-size: 2rem;
  line-height: 3.5rem;
  color: var(--blue);
  margin-left: 10rem;
}

blockquote.beauty p:nth-of-type(even) {
  padding-left: 12rem;
  color: var(--red);
}

blockquote.questions p {
  display: inline-block;
}

section {
  margin-block: 5rem;
  margin-inline-start:5rem;
}

section:nth-of-type(odd) {
  color: var(--blue);
}

section:nth-of-type(even) {
  color: var(--red);
}

#reading section:last-child blockquote p:first-of-type {
  margin-left: 0;
}
